
<div id="header">
	<h1>Lyrebird for <%= @user.name %></h1>
	<input type="text" id="query" value= "<%= @user.search != '' ? @user.search : "from:kavla" %>" style="width: 250px;" />
	<input type="button" id="search" value="Search" />
	<input type="button" id="save" value="Retweet" />
</div>
<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
<script>
// Always send the authenticity_token with ajax
$(document).ajaxSend(function(event, request, settings) {
    if ( settings.type == 'post' ) {
        settings.data = (settings.data ? settings.data + "&" : "")
            + 'authenticity_token=' + encodeURIComponent( AUTH_TOKEN );
    }
});</script>
<div id="results" style="height: 400px; margin: auto;"></div>
<div id="status">
<h2>you are retweeting: <span id="nothing" style="color: gray; visibility: <%=@user.search.blank? ? 'visible' : 'hidden'  %> ">Nothing</span><a href="." id="tweeting"><%= @user.search %></a>
</h2></div>
<div id="controls">
  <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
    <span>
      <input type="hidden" name="cmd" value="_xclick-subscriptions">
      <input type="hidden" name="business" value="7CEBQHVAQVUMU">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="item_name" value="Lyrebrd Monthly Subscription">
      <input type="hidden" name="no_note" value="1">
      <input type="hidden" name="no_shipping" value="1">
      <input type="hidden" name="rm" value="1">
      <input type="hidden" name="return" value="http://staging.lyrebd.com/signin">
      <input type="hidden" name="src" value="1">
      <input type="hidden" name="a3" value="10.00">
      <input type="hidden" name="p3" value="1">
      <input type="hidden" name="t3" value="M">
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribe_LG.gif:NonHosted">
      <input type="hidden" name="notify_url" value="http://staging.lyrebd.com/ipn/<%= @user.id %>">
      <input type="hidden" name="customer_id" value="kavla">
      <input type="image" src="https://www.sandbox.paypal.com/WEBSCR-640-20110429-1/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.sandbox.paypal.com/WEBSCR-640-20110429-1/en_US/i/scr/pixel.gif" width="1" height="1">
    </span>
    <span style="float:right"><input type="button" id="stop" value="Stop Retweeting"  /></span>
  </form>
</div>
<div style="text-align: center;"><%=link_to "Logout", :action => "logout" %></div>
   <script>
	$(document).ready(function(){
		$.ajaxSettings.accepts.html = $.ajaxSettings.accepts.script;
		searchNow();
		$("#search").click(function(event){
       		searchNow();
			event.preventDefault();
		});
		$("#query").keydown(function(event){
			if(event.which == 13)
				searchNow();
		});
		$("#tweeting").click(function(event){
      		$("#query").val($(tweeting).html());
			searchNow();
      		event.preventDefault();
      	});
		$("#save").click(function(event){
			$.ajax({
				url:"save",
				data: {
					user:"<%= @user.name %>",
					search: $("#query").val()
				},
				dataType: 'html',
				complete: function(retval){
					searchStr = jQuery.parseJSON(retval.responseText);
					$("#tweeting").html(searchStr.search);
					if(searchStr.search =="")
						$("#nothing").show();
					else
						$("#nothing").hide();
				}
			});
			event.preventDefault();
		});
		$("#stop").click(function(event){
			oldQuery = $("#query").val();
			$("#query").val("");
			$("#save").click();
			$("#query").val(oldQuery);
		});
    });
    function searchNow(){
    	$("#results").empty();
    	$("#results").twitterSearch({ 
    		term:   $("#query").val(), 
    		bird:    false, 
    		colorExterior: 'white', 
    		colorInterior: 'white'
		});
    }
   </script>