
<div id="header">
	<h1>Lyrebird for <%= @user.name %></h1>
	<input type="text" id="query"
	  value="<%= @user.searches.empty? ? "Lyrebird" : @user.searches.first.text %>"
	  style="width: 250px;" />
	  
	<input type="button" id="search" value="Search" />
	<input type="button" id="save" value="Retweet" />
	<br>
	<input type="checkbox" id="filter" />
	<select id="filter_type">
		<option value="exclude">Exclude all tweets from</option>
		<option value="include">Include only tweets from</option>
	</select>
	<input type="text" id="users" style="width: 180px;">
</div>
<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
<script>
// Always send the authenticity_token with ajax
$(document).ajaxSend(function(event, request, settings) {
    if ( settings.type == 'post' ) {
        settings.data = (settings.data ? settings.data + "&" : "")
            + 'authenticity_token=' + encodeURIComponent( AUTH_TOKEN );
    }
});</script>
<div id="results" style="margin-top: 5px; height: 390px; margin: auto;"></div>
<div id="status">
  <h2>
    you are retweeting:
    <span id="nothing" style="color: gray; visibility:
      <%= @user.searches.empty? ? 'visible' : 'hidden' %> ">Nothing</span>
  </h2>

  <ul id="searches">
  <% @user.searches.each do |search| %>
    <li id="<%= search.id %>">
      <a href="." class="tweeting"><%= search.text %></a>
      <input type="button" class="stop" value="Stop Retweeting"/>
    </li>
  <% end %>
  </ul>
  
</div>
<div align="right">
<% if not @user.paid %>
<div id="controls">
  <%= render :partial => "paypal_button" %>
  <span id="trial">Trial: <%= @days_remaining %> day<%= "s" if @days_remaining != 1 %> remaining.
</div>
<% end %>
</div>
<div style="text-align: center;"><%=link_to "Logout", :action => "logout" %></div>  
<script>
	$(document).ready(function(){
		
		$.ajaxSettings.accepts.html = $.ajaxSettings.accepts.script;
		searchNow();
		
		$("#search").click(function(event){
      searchNow();
			event.preventDefault();
		});
		$("#query").keydown(function(event){
			if(event.which == 13)
			searchNow();
		});
		$(".tweeting").live('click', function(event){
      $('#query').val($(this).html());
			searchNow();
      event.preventDefault();
    });
		$("#save").click(function(event){
		  addSearch(generateSearch());
			event.preventDefault();
		});
		$(".stop").live('click', function(event){
			removeSearch($(this).closest('li').attr('id'));
		});
  });
  
  function searchNow(){
  	$("#results").empty();
  	$("#results").twitterSearch({ 
  		term:   generateSearch(), 
  		bird:    false, 
  		title: "",
  		colorExterior: 'white', 
  		colorInterior: 'white'
	  });
  }
  
  function generateSearch(){
	  var query = $("#query").val();
	  if($("#filter").is(":checked"))
	  {
      query += " " + splitlist();
	  }
	  return query;
	}
	
	function splitlist(){
	  var names = $("#users").val().split(",");
	  var include;
	  var result;
	  
	  if($("#filter_type").val() == "include")
	    include = true;
	  for(var i=0; i< names.length; i++){
	    names[i] =  (include ? "" : "-") + "from:" + names[i].trim();
	  }
	  return names.join((include) ? " OR " : " ");
	}
	
	function addSearch(search){
	  $.ajax({
		url:"add.json",
		data: {
			user:"<%= @user.name %>",
			search: search
		},
		complete: function(retval){
			json = jQuery.parseJSON(retval.responseText);
			if (json.success) {        
  			$("#searches").append($('<li id="' + json.search_id + '">'
  	      + '<a href="." class="tweeting">' + json.search + '</a>'
          + ' <input type="button" class="stop" value="Stop Retweeting"/>'
          + '</li>'));
				$("#nothing").css('visibility', 'hidden');
      }
	  }
	  });
	}
  
  function removeSearch(search_id){
	  $.ajax({
		url:"remove.json",
		data: {
			user:"<%= @user.name %>",
			search_id: search_id
		},
		complete: function(retval){
			json = jQuery.parseJSON(retval.responseText);
      if (json.success) {
        $('#searches li#' + json.search_id).remove();
        if (!$('#searches li').length) {
				  $("#nothing").css('visibility', 'visible');         
        }
      }
	  }
	  });
  }
    
</script>
